@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Mukta", sans-serif;
}

.container {
    min-block-size: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 2em 0em;
    background-color: #333533;
    font-size: 1.2em;
}

header a {
    transition: 0.3s;
}

header h1 {
    color: #d6d6d6;
}

header h1 span {
    color: #ffee32;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    color: #ffee32;
}

.separator {
    margin-left: 1em;
    margin-right: 1em;
}

nav ul li a {
    color: #d6d6d6;
    transition: 0.3s;
}

a {
    text-decoration: none;
}

main {
    margin: 1.5em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    font-size: 1.2em;
    position: relative;
}

main p {
    justify-content: center;
}

main span {
    text-decoration: underline;
}

.vendedores .vendedor {
    background-color: #a3a3a3;
    padding: 2em;
    border-radius: 20px;
    list-style: none;
    margin-top: 2em;
    text-align: start;
}

.vendedor div {
    margin-top: 1.2em;
}

.cardapio {
    list-style: disc;
    margin-left: 1.3em;
}

.link-contato {
    display: flex;
    flex-direction: column;
}

.link-contato .socials {
    display: flex;
    justify-content: flex-start;
}

.socials a {
    transition: 0.3s;
}

.socials a img{
    width: 4em;
}

.contate-nos span a {
    transition: 0.3s;
}

footer {
    position: fixed bottom;
    background-color: #333533;
    padding: 1em 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #ffee32;
    transition: 0.3s;
}

footer p {
    color: #e0e0e2;
}

footer nav ul {
    display: flex;
    align-items: center;
}

header a:hover {
    transform: scale(1.12);
}

nav ul li a:hover {
    color: #ffee32;
}

.socials a:hover {
    transform: scale(1.2);
}

.contate-nos span a:hover {
    color: #ffee32;
}

footer p a:hover {
    font-size: 120%;
}

@media (max-width: 900px) {

    header {
        font-size: 90%;
        flex-direction: column;
    }

    main {
        margin: 2em 2em;
    }

    footer {
        flex-direction: column;
        text-align: center;
        padding: 1em 0em;
    }

    footer nav {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
}